.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 2rem;
  background-color: #1e293b;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 10;
  height: 60px;
}

.logo {
  color: #38bdf8;
  font-weight: 600;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  color: #e2e8f0; /* Added a default color */
}

.nav-links li {
  cursor: pointer;
  transition: 0.2s;
}

.nav-links li:hover {
  color: #38bdf8;
}

.login-btn {
  background: #3b82f6;
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  /* Reset default button styles */
  border: none; 
  font-size: 0.9rem;
  padding-block: 0.2rem;
}
/* Search Bar */
.search-bar {
  font-size: 0.85rem; /* Reduced font size */
  background-color: #0d1117;
  border: 1px solid #30363d;
  color: #c9d1d9;
  padding: 0.4rem 0.8rem; /* Reduced padding */
  border-radius: 6px;
  width: 250px;
  margin: 1rem;
  margin-left: 10rem;
}

.search-bar::placeholder {
  color: #8b949e;
}
